# Packages to Install

# Required for Jupyter Notebooks
jupyter

# Data Collection
nba_api

# Data Analysis
dython
dmba
pandas
polars
numpy
scipy # used for hypothesis testing
statsmodels # used for t-stats and p-values
scikit-posthocs # Posthoc testing for ANOVA
scikit-learn
pyarrow # required to convert between pandas and polars
openpyxl # required to read/write from/to excel files
jinja2 # Used for pandas styling

# Plotting
matplotlib
seaborn
missingno

# Quality-of-Life packages
tqdm # progress bars for for loops
